* {
  font-family: "open sans", "tahoma", sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  color: rgba(0, 0, 0, 0.54);
}

a {
  text-decoration: none;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.bgdark-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
